<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
        <div>Microblog: 
            <a href="/index">Home</a>
            {% if current_user.is_anonymous %}
            <a href="/login">Sign In</a>
            {% else %}
            <a href="/logout">LogOut</a>
            {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>